@model MyApp.Web.ViewModels.TreatmentPlansViewModel;

@{
    ViewData["Title"] = "Twoje zalecenia";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
    var searchTxt = (string?)ViewBag.Query ?? "";
    var plans = Model.Plans;

    var totalPages = Model.TotalPages;
    var page = Model.Page;
    var pageSize = Model.PageSize;
}

@if (!plans.Any())
{
    <div class="alert alert-light">Nie znaleziono żadnych zaleceń.</div>
}
else
{
    <div class="mb-3">
        <form method="get" asp-action="Tokens" class="d-flex gap-2">
            <input type="text" name="searchTxt" value="@searchTxt" class="form-control" placeholder="Wyszukaj..." />
            <button type="submit" class="btn btn-secondary">Filtruj</button>
            <a asp-action="Tokens" class="btn btn-secondary">Wyczyść</a>
        </form>
    </div>

    <form method="get" class="d-flex align-items-center gap-2 mb-3">
        <input type="hidden" name="searchTxt" value="@ViewBag.Query" />
        <input type="hidden" name="page" value="1" />

        <label class="form-label mb-0">Na stronę:</label>
        <select name="pageSize" class="form-select form-select-sm" style="width:auto" onchange="this.form.submit()">
            <option value="5" selected="@(Model.PageSize == 5)">5</option>
            <option value="10" selected="@(Model.PageSize == 10)">10</option>
            <option value="20" selected="@(Model.PageSize == 20)">20</option>
            <option value="50" selected="@(Model.PageSize == 50)">50</option>
        </select>
    </form>
    
    <table class="table align-middle">
        <thead>
            <tr>
                <th scope="col" class="col-1 text-nowrap">Utworzono</th>
                <th scope="col" class="col-7">Treść</th>
                <th scope="col" class="col-2 text-nowrap">Status</th>
                <th scope="col" class="col-2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var plan in plans)
            {
                <tr>
                    <td>@plan.DateCreated.ToString("dd.MM.yyyy HH:mm")</td>
                    <td class="text-break" style="white-space: pre-wrap;">@plan.AdviceFullText</td>

                    <td>
                        @* TODO: implement *@
                        @* @(rev.Completed ? "Tak" : "Nie") *@
                    </td>
                    <td>
                        <a asp-action="GetPlan" asp-controller="Patient" asp-route-number="@plan.Number"
                           class="btn btn-sm btn-secondary">Podgląd</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
}

@if (totalPages > 1)
{
    <nav aria-label="Paginacja" class="mt-4">
        <ul class="pagination justify-content-center">

            <li class="page-item @(page <= 1 ? "disabled" : "")">
                <a class="page-link"
                   asp-action="Plans"
                   asp-controller="Patient"
                   asp-route-page="@(page - 1)"
                   asp-route-pageSize="@pageSize"
                   asp-route-searchTxt="@ViewBag.Query">«</a>
            </li>

            @for (var p = 1; p <= totalPages; p++)
            {
                <li class="page-item @(p == page ? "active" : "")">
                    <a class="page-link"
                       asp-action="Plans"
                       asp-controller="Patient"
                       asp-route-page="@p"
                       asp-route-pageSize="@pageSize"
                       asp-route-searchTxt="@ViewBag.Query">@p</a>
                </li>
            }

            <li class="page-item @(page >= totalPages ? "disabled" : "")">
                <a class="page-link"
                   asp-action="Plans"
                   asp-controller="Patient"
                   asp-route-page="@(page + 1)"
                   asp-route-pageSize="@pageSize"
                   asp-route-searchTxt="@ViewBag.Query">»</a>
            </li>

        </ul>
    </nav>
}


