@model MyApp.Web.ViewModels.TreatmentPlansViewModel;

@{
    ViewData["Title"] = "Twoje zalecenia";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
    var searchTxt = (string?)ViewBag.Query ?? "";
    var status = (string?)ViewBag.Status ?? "";
    var plans = Model.Plans;

    var totalPages = Model.TotalPages;
    var page = Model.Page;
    var pageSize = Model.PageSize;
}

<h3 class="mb-3">Pobrane plany leczenia</h3>

<div class="mb-3">
    <form method="get" asp-controller="Patient" asp-action="Plans" class="d-flex gap-2">
        <input type="text" name="searchTxt" value="@searchTxt" class="form-control" placeholder="Wyszukaj tekst..." />
        <select name="status" class="form-select">
            <option value="" selected="@(string.IsNullOrEmpty(status) ? "selected" : null)">Wszystkie</option>
            <option value="Created" selected=@(status == "created" ? "selected" : null)>Utworzone</option>
            <option value="Claimed" selected=@(status == "claimed" ? "selected" : null)>Pobrane</option>
            <option value="Started" selected=@(status == "started" ? "selected" : null)>Rozpoczęte</option>
            <option value="Completed" selected=@(status == "completed" ? "selected" : null)>Zakończone</option>
            <option value="Expired" selected=@(status == "expired" ? "selected" : null)>Niewykorzystane</option>
        </select>
        <button type="submit" class="btn btn-success">Filtruj</button>
        <a asp-action="Plans" class="btn btn-outline-success">Wyczyść</a>
    </form>
</div>

@if (!plans.Any())
{
    <div class="alert alert-light">Nie znaleziono żadnych planów leczenia.</div>
}
else
{
    <form method="get" class="d-flex align-items-center gap-2 mb-3">
        <input type="hidden" name="searchTxt" value="@ViewBag.Query" />
        <input type="hidden" name="status" value="@ViewBag.Status" />
        <input type="hidden" name="page" value="1" />

        <label class="form-label mb-0">Na stronę:</label>
        <select name="pageSize" class="form-select form-select-sm" style="width:auto" onchange="this.form.submit()">
            <option value="5" selected="@(Model.PageSize == 5)">5</option>
            <option value="10" selected="@(Model.PageSize == 10)">10</option>
            <option value="20" selected="@(Model.PageSize == 20)">20</option>
            <option value="50" selected="@(Model.PageSize == 50)">50</option>
        </select>
    </form>
    
    <table class="table align-middle">
        <thead>
            <tr>
                <th scope="col" class="col-2 text-nowrap">Utworzono</th>
                <th scope="col" class="col-7">Treść</th>
                <th scope="col" class="col-1"></th>
                <th scope="col" class="col-1 text-nowrap">Status</th>
                <th scope="col" class="col-1"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var plan in plans)
            {
                <tr>
                    <td>@plan.DateCreated.ToString("dd.MM.yyyy HH:mm")</td>
                    <td class="text-break" style="white-space: pre-wrap;">@plan.AdviceFullText</td>
                    <td>
                    @if (plan.UnreadForPatient)
                    {
                        <span class="badge bg-warning text-dark">Nowa wiadomość</span>
                    }
                    </td>
                    <td>@plan.Status</td>
                    <td>
                        <a asp-action="GetPlan" 
                            asp-controller="Patient" 
                            asp-route-number="@plan.Number"
                            class="btn btn-sm btn-success">
                            Szczegóły
                        </a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
}

@if (totalPages > 1)
{
    <nav aria-label="Paginacja" class="mt-4">
        <ul class="pagination justify-content-center">

            <li class="page-item @(page <= 1 ? "disabled" : "")">
                <a class="page-link"
                   asp-action="Plans"
                   asp-controller="Patient"
                   asp-route-status="@ViewBag.Status"
                   asp-route-pageSize="@pageSize"
                   asp-route-searchTxt="@ViewBag.Query">«</a>
            </li>

            @for (var p = 1; p <= totalPages; p++)
            {
                <li class="page-item @(p == page ? "active" : "")">
                    <a class="page-link"
                       asp-action="Plans"
                       asp-controller="Patient"
                       asp-route-status="@ViewBag.Status"
                       asp-route-page="@p"
                       asp-route-pageSize="@pageSize"
                       asp-route-searchTxt="@ViewBag.Query">@p</a>
                </li>
            }

            <li class="page-item @(page >= totalPages ? "disabled" : "")">
                <a class="page-link"
                   asp-action="Plans"
                   asp-controller="Patient"
                   asp-route-status="@ViewBag.Status"
                   asp-route-page="@(page + 1)"
                   asp-route-pageSize="@pageSize"
                   asp-route-searchTxt="@ViewBag.Query">»</a>
            </li>

        </ul>
    </nav>
}


