@model MyApp.Web.ViewModels.MedicinesViewModel;

@{
    ViewData["Title"] = "Lista leków";
    var medicines = Model.Medicines;

    var totalPages = Model.TotalPages;
    var page = Model.Page;
    var pageSize = Model.PageSize;
}

<partial name="~/Views/Shared/_PharmacistNav.cshtml" />

<form method="get" class="d-flex align-items-center gap-2 mb-3">
    <input type="hidden" name="page" value="1" />

    <label class="form-label mb-0">Na stronę:</label>
    <select name="pageSize"
            class="form-select form-select-sm"
            style="width:auto"
            onchange="this.form.submit()">
        <option value="5" selected="@(Model.PageSize == 5)">5</option>
        <option value="10" selected="@(Model.PageSize == 10)">10</option>
        <option value="20" selected="@(Model.PageSize == 20)">20</option>
        <option value="50" selected="@(Model.PageSize == 50)">50</option>
    </select>
</form>

<div class="container mt-3">
    <div class="table-responsive">
        <table class="table align-middle mb-3">
            <thead>
                <tr>
                    <th scope="col" class="col-3">Kod</th>
                    <th scope="col" class="col-9">Nazwa</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in medicines)
                {
                    <tr>
                        <td>@item.Code</td>
                        <td class="text-break">@item.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @if (totalPages > 1)
    {
        <nav aria-label="Paginacja" class="mt-4">
            <ul class="pagination justify-content-center">

                <li class="page-item @(page <= 1 ? "disabled" : "")">
                    <a class="page-link"
                       asp-action="Medicines"
                       asp-controller="Medicine"
                       asp-route-page="@(page - 1)"
                       asp-route-pageSize="@pageSize">«</a>
                </li>

                @for (var p = 1; p <= totalPages; p++)
                {
                    <li class="page-item @(p == page ? "active" : "")">
                        <a class="page-link"
                           asp-action="Medicines"
                           asp-controller="Medicine"
                           asp-route-page="@p"
                           asp-route-pageSize="@pageSize">@p</a>
                    </li>
                }

                <li class="page-item @(page >= totalPages ? "disabled" : "")">
                    <a class="page-link"
                       asp-action="Medicines"
                       asp-controller="Medicine"
                       asp-route-page="@(page + 1)"
                       asp-route-pageSize="@pageSize">»</a>
                </li>

            </ul>
        </nav>
    }

    <div class="d-grid d-sm-flex justify-content-sm-center">
        <a asp-controller="Medicine" asp-action="PrintMedicines" class="btn btn-secondary">
            Drukuj
        </a>
    </div>
</div>


