@model MyApp.Web.ViewModels.TreatmentPlansViewModel;

@{
    ViewData["Title"] = "Wystawione zalecenia";
    Layout = "~/Views/Shared/_PharmacistLayout.cshtml";
    var searchTxt = (string?)ViewBag.Query ?? "";
    var status = (string?)ViewBag.Completed ?? "";
    var plans = Model.Plans;

    var totalPages = Model.TotalPages;
    var page = Model.Page;
    var pageSize = Model.PageSize;
}

<h3 class="mb-3">Utworzone plany leczenia</h3>

@if (!plans.Any())
{
    <div class="alert alert-light">Nie znaleziono żadnych planów leczenia.</div>
}

<div class="d-grid d-sm-flex justify-content-sm-center mb-3">
    <a asp-controller="Pharmacist" asp-action="TreatmentPlan" class="btn btn-success">
        Utwórz nowy plan leczenia dla pacjenta
    </a>
</div>

<div class="mb-3">
    <form method="get" asp-controller="Pharmacist" asp-action="Plans" class="d-flex gap-2">
        <input type="text" name="searchTxt" value="@searchTxt" class="form-control" placeholder="Wyszukaj tekst..." />
        <select name="status" class="form-select">
            <option value="" selected="@(string.IsNullOrEmpty(status) ? "selected" : null)">Wszystkie</option>
            <option value="Created" selected=@(status == "created" ? "selected" : null)>Utworzone</option>
            <option value="Claimed" selected=@(status == "claimed" ? "selected" : null)>Pobrane</option>
            <option value="Started" selected=@(status == "started" ? "selected" : null)>Rozpoczęte</option>
            <option value="Completed" selected=@(status == "completed" ? "selected" : null)>Zakończone</option>
            <option value="Expired" selected=@(status == "expired" ? "selected" : null)>Niewykorzystane</option>
        </select>
        <button type="submit" class="btn btn-success">Filtruj</button>
        <a asp-action="Plans" class="btn btn-outline-success">Wyczyść</a>
    </form>
</div>

@if (plans.Any())
{
    <form method="get" class="d-flex align-items-center gap-2 mb-3">
        <input type="hidden" name="searchTxt" value="@ViewBag.Query" />
        <input type="hidden" name="status" value="@ViewBag.Status" />
        <input type="hidden" name="page" value="1" />

        <label class="form-label mb-0">Liczba wyników na stronie:</label>
        <select name="pageSize" class="form-select form-select-sm" style="width:auto" onchange="this.form.submit()">
            <option value="5" selected="@(Model.PageSize == 5)">5</option>
            <option value="10" selected="@(Model.PageSize == 10)">10</option>
            <option value="20" selected="@(Model.PageSize == 20)">20</option>
            <option value="50" selected="@(Model.PageSize == 50)">50</option>
        </select>
    </form>

    <div class="table-responsive-sm">
        <table class="table table-sm align-middle mb-3">
            <thead>
                <tr>
                    <th scope="col" class="col-2 text-nowrap">Utworzono</th>
                    <th scope="col" class="col-7">Treść</th>
                    <th scope="col" class="col-1"></th>
                    <th scope="col" class="col-1 text-nowrap">Status</th>
                    <th scope="col" class="col-1"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var plan in plans)
                {
                    <tr>
                        <td>@plan.DateCreated.ToString("dd.MM.yyyy HH:mm")</td>
                        <td class="text-break" style="white-space: pre-wrap;">@plan.AdviceFullText</td>
                        <td>
                        @if (plan.UnreadForPharmacist)
                        {
                            <span class="badge bg-warning text-dark">Nowa wiadomość</span>
                        }
                        </td>
                        <td>@plan.Status</td>
                        <td class="text-end">
                            <div class="d-grid gap-2 d-md-inline">
                                <a asp-action="GetPlan"
                                   asp-controller="Pharmacist"
                                   asp-route-number="@plan.Number"
                                   class="btn btn-sm btn-success w-100 w-md-auto text-nowrap">
                                    Szczegóły
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@if (totalPages > 1)
{
    <nav aria-label="Paginacja" class="mt-4">
        <ul class="pagination justify-content-center">

            <li class="page-item @(page <= 1 ? "disabled" : "")">
                <a class="page-link"
                   asp-action="Plans"
                   asp-controller="Pharmacist"
                   asp-route-status="@ViewBag.Status"
                   asp-route-page="@(page - 1)"
                   asp-route-pageSize="@pageSize"
                   asp-route-searchTxt="@ViewBag.Query">«</a>
            </li>

            @for (var p = 1; p <= totalPages; p++)
            {
                <li class="page-item @(p == page ? "active" : "")">
                    <a class="page-link"
                       asp-action="Plans"
                       asp-controller="Pharmacist"
                       asp-route-status="@ViewBag.Status"
                       asp-route-page="@p"
                       asp-route-pageSize="@pageSize"
                       asp-route-searchTxt="@ViewBag.Query">@p</a>
                </li>
            }

            <li class="page-item @(page >= totalPages ? "disabled" : "")">
                <a class="page-link"
                   asp-action="Plans"
                   asp-controller="Pharmacist"
                   asp-route-status="@ViewBag.Status"
                   asp-route-page="@(page + 1)"
                   asp-route-pageSize="@pageSize"
                   asp-route-searchTxt="@ViewBag.Query">»</a>
            </li>

        </ul>
    </nav>
}




