@model MyApp.Web.ViewModels.DisplayConversationViewModel;

@{
    ViewData["Title"] = "Conversation";
    var conversation = Model.Conversation;
}

<div>
    <ul class="list-group mb-3">
        @foreach(var entry in conversation!.Entries)
        {
            <li class="list-group-item">
                <strong>@entry.DisplayName</strong>
                <div class="small text-muted">@entry.CreatedUtc.ToString("yyyy-MM-dd HH:mm")</div>
                <div>@entry.Text</div>
            </li>
        }
    </ul>
</div>

@if (conversation.Completed)
{
    <div class="alert alert-secondary mt-3">
        Ta rozmowa została zakończona.
    </div>
}
else
{
    <form asp-controller="Conversation"
          asp-action="Display"
          asp-route-number=@conversation.Number
          method="post"
          id="sendForm">
        @Html.AntiForgeryToken()

        <textarea name="text" class="form-control" placeholder="Wpisz wiadomość tutaj..."></textarea>
    </form>
    @if (User.IsInRole("Pharmacist"))
    {
        <div class="d-grid d-sm-flex justify-content-sm-center gap-2 mt-3">
            <button type="submit"
                    form="sendForm"
                    class="btn btn-secondary">
                Dodaj wiadomość
            </button>

            <form asp-controller="Conversation"
                  asp-action="CloseConversation"
                  asp-route-number=@conversation.Number
                  method="post"
                  class="mb-0">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-secondary w-100"
                        onclick="return confirm('Czy na pewno chcesz zakończyć rozmowę?\nPo kliknięciu OK nie będzie możliwości dodawania nowych wpisów.');">
                    Zakończ rozmowę
                </button>
            </form>
        </div>
    }
    else
    {
        <div class="d-grid d-sm-flex justify-content-sm-center mt-3">
            <button type="submit"
                    form="sendForm"
                    class="btn btn-secondary">
                Dodaj wiadomość
            </button>
        </div>
    }
}