@model MyApp.Domain.Reviews.ConversationDto

@{
    ViewData["Title"] = "Conversation";
}

<div>
    <ul class="list-group mb-3">
        @foreach(var e in Model.Entries)
        {
            <li class="list-group-item">
                <strong>@e.DisplayName</strong>
                <div class="small text-muted">@e.CreatedUtc.ToLocalTime()</div>
                <div>@e.Text</div>
            </li>
        }
    </ul>
</div>

<form asp-controller="Conversation" asp-action="Display" method="post">
    @Html.AntiForgeryToken()

    <input type="hidden" name="number" value="@Model.Number" />
    @if (!Model.Completed)
    {
        <div class="mb-3">
            <label for="Text" class="form-label">Dodaj wiadomość</label>
            <textarea id="Text" name="Text" class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-primary">
            Wyślij
        </button>
    }
    else
    {
        <div class="alert alert-info mt-3">
            Ta rozmowa została zakończona.
        </div>
    }


    @if (User.IsInRole("Pharmacist"))
    {
        <a asp-controller="Pharmacist" asp-action="Tokens" class="btn btn-outline-secondary">Powrót</a>
    }
    else if (User.IsInRole("Patient"))
    {
        <a asp-controller="Patient" asp-action="Tokens" class="btn btn-outline-secondary">Powrót</a>
    }
</form>