@model MyApp.Web.ViewModels.DisplayConversationViewModel;

@{
    ViewData["Title"] = "Conversation";
    var conversation = Model.Conversation;
}

<div>
    <ul class="list-group mb-3">
        @foreach(var entry in conversation.Entries)
        {
            <li class="list-group-item">
                <strong>@entry.DisplayName</strong>
                <div class="small text-muted">@entry.CreatedUtc.ToLocalTime()</div>
                <div>@entry.Text</div>
            </li>
        }
    </ul>
</div>

<form asp-controller="Conversation" asp-action="Display" method="post">
    @Html.AntiForgeryToken()

    <input type="hidden" name="number" value="@conversation.Number" />
    @if (!conversation.Completed)
    {
        <div class="mb-3">
            <label for="Text" class="form-label">Dodaj wiadomość</label>
            <textarea id="Text" name="Text" class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-secondary">
            Wyślij
        </button>
    }
    else
    {
        <div class="alert alert-info mt-3">
            Ta rozmowa została zakończona.
        </div>
    }


    @if (User.IsInRole("Patient"))
    {
        <a asp-controller="Patient" asp-action="Tokens" class="btn btn-secondary">Powrót</a>
    }
</form>