@model MyApp.Web.ViewModels.MedicinesViewModel;

@{
    ViewData["Title"] = "Leki";
    var medicines = Model.Medicines;
}

<partial name="~/Views/Shared/_AdminNav.cshtml" />

<div class="container mt-3">
    <div class="mb-3">
        <form asp-action="AddMedicine" asp-controller="Medicine" method="post" class="row g-2">
            @Html.AntiForgeryToken()
            <div class="col-sm-3">
                <input name="Code" class="form-control" placeholder="Kod" maxlength="32" required /> 
                
            </div>
            <div class="col-sm-7">
                <input name="Name" class="form-control" placeholder="Nazwa" maxlength="128" required />
            </div>
            <div class="col-sm-2 d-grid">
                <button type="submit" class="btn btn-secondary">Dodaj</button>
            </div>
        </form>
    </div>

    <div class="table-responsive">
        <table class="table align-middle">
            <thead>
                <tr>
                    <th scope="col" class="col-2">Kod</th>
                    <th scope="col" class="col-8">Nazwa</th>
                    <th scope="col" class="col-1" colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in medicines)
                {
                    <tr>
                        <td class="col-2">@item.Code</td>
                        <td class="col-8">@item.Name</td>
                        <td class="col-1 text-end">
                            <form asp-action="ModifyMedicine" asp-controller="Medicine" method="get" class="d-inline">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" class="btn btn-sm btn-secondary">
                                    Zmień
                                </button>
                            </form>
                        </td>
                        <td class="col-1 text-start">
                            <form asp-action="DeleteMedicine" asp-controller="Medicine" method="post" class="d-inline">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" class="btn btn-sm btn-secondary"
                                        onclick="return confirm('Czy na pewno chcesz usunąć?');">
                                    Usuń
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
