@model MyApp.Web.ViewModels.MedicinesViewModel;

@{
    ViewData["Title"] = "Leki";
    var medicines = Model.Medicines;

    var totalPages = Model.TotalPages;
    var page = Model.Page;
    var pageSize = Model.PageSize;
}

<partial name="~/Views/Shared/_AdminNav.cshtml" />

<form method="get" class="d-flex align-items-center gap-2 mb-3">
    <input type="hidden" name="page" value="1" />

    <label class="form-label mb-0">Liczba wyników na stronie:</label>
    <select name="pageSize" class="form-select form-select-sm" style="width:auto" onchange="this.form.submit()">
        <option value="5" selected="@(Model.PageSize == 5)">5</option>
        <option value="10" selected="@(Model.PageSize == 10)">10</option>
        <option value="25" selected="@(Model.PageSize == 100)">25</option>
        <option value="50" selected="@(Model.PageSize == 200)">50</option>
    </select>
</form>

<div class="container mt-3">
    <div class="mb-3">
        <form asp-action="AddMedicine" asp-controller="Medicine" method="post" class="row g-2">
            @Html.AntiForgeryToken()
            <div class="col-sm-3">
                <input name="Code" class="form-control" placeholder="Kod" maxlength="32" /> 
            </div>
            <div class="col-sm-7">
                <input name="Name" class="form-control" placeholder="Nazwa" maxlength="128" />
            </div>
            <div class="col-sm-2 d-grid">
                <button type="submit" class="btn btn-secondary">Dodaj</button>
            </div>
        </form>
    </div>

    <div class="table-responsive">
        <table class="table align-middle">
            <thead>
                <tr>
                    <th scope="col" class="col-2">Kod</th>
                    <th scope="col" class="col-8">Nazwa</th>
                    <th scope="col" class="col-1" colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in medicines)
                {
                    <tr>
                        <td class="col-2">@item.Code</td>
                        <td class="col-8">@item.Name</td>
                        <td class="col-1 text-end">
                            <form asp-action="ModifyMedicine" asp-controller="Medicine" method="get" class="d-inline">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" class="btn btn-sm btn-secondary">
                                    Zmień
                                </button>
                            </form>
                        </td>
                        <td class="col-1 text-start">
                            <form asp-action="DeleteMedicine" asp-controller="Medicine" method="post" class="d-inline">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" class="btn btn-sm btn-secondary"
                                        onclick="return confirm('Czy na pewno chcesz usunąć?');">
                                    Usuń
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@if (totalPages > 1)
{
    <nav aria-label="Paginacja" class="mt-4">
        <ul class="pagination justify-content-center">

            <li class="page-item @(page <= 1 ? "disabled" : "")">
                <a class="page-link"
                   asp-action="Medicines"
                   asp-controller="Medicine"
                   asp-route-page="@(page - 1)"
                   asp-route-pageSize="@pageSize">«</a>
            </li>

            @for (var p = 1; p <= totalPages; p++)
            {
                <li class="page-item @(p == page ? "active" : "")">
                    <a class="page-link"
                       asp-action="Medicines"
                       asp-controller="Medicine"
                       asp-route-page="@p"
                       asp-route-pageSize="@pageSize">@p</a>
                </li>
            }

            <li class="page-item @(page >= totalPages ? "disabled" : "")">
                <a class="page-link"
                   asp-action="Medicines"
                   asp-controller="Medicine"
                   asp-route-page="@(page + 1)"
                   asp-route-pageSize="@pageSize">»</a>
            </li>

        </ul>
    </nav>
}
