@model MyApp.Web.ViewModels.ModifyInstructionViewModel

@{
    ViewData["Title"] = "Zmiena dawkowania";
    var instruction = Model.Instruction;
}

<div class="container mt-3">

    <form asp-action="ModifyInstruction" asp-controller="Medicine" method="post" class="row g-3">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="@instruction.Id" />

        <div class="col-12 col-md-4">
            <label asp-for="@instruction.Code" class="form-label">Kod</label>
            <input asp-for="@instruction.Code" class="form-control" />
            <span asp-validation-for="@instruction.Code" class="text-danger"></span>
        </div>

        <div class="col-12 col-md-8">
            <label asp-for="@instruction.Text" class="form-label">Dawkowanie</label>
            <input asp-for="@instruction.Text" class="form-control" />
            <span asp-validation-for="@instruction.Text" class="text-danger"></span>
        </div>

        <div class="col-12 d-flex gap-2">
            <button type="submit" class="btn btn-secondary">Zapisz</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
