@model MyApp.Web.ViewModels.ModifyMedicineViewModel;

@{
    ViewData["Title"] = "Zmiena leku";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var medicine = Model.Medicine;
}

<div class="container mt-3">

    <form asp-action="ModifyMedicine" asp-controller="Medicine" method="post" class="row g-3">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="@medicine.Id" />

        <div class="col-12 col-md-4">
            <label asp-for="@medicine.Code" class="form-label">Kod</label>
            <input asp-for="@medicine.Code" class="form-control" />
            <span asp-validation-for="@medicine.Code" class="text-danger"></span>
        </div>

        <div class="col-12 col-md-8">
            <label asp-for="@medicine.Name" class="form-label">Nazwa</label>
            <input asp-for="@medicine.Name" class="form-control" />
            <span asp-validation-for="@medicine.Name" class="text-danger"></span>
        </div>

        <div class="col-12 d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-success">Zapisz</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
